/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env

_ide_helper.php
/config/debugbar.php
/public/assets/js
/public/assets/css/styles.css
/public/uploads/
