
.uploadify {
	position: relative;
	margin-bottom: 1em;
}
.uploadify-button {
	background: #D0EEFF;/*背景颜色*/
	border-radius: 4px;
	padding: 1px 12px;
	border: 1px solid #99D3F5;/*边框颜色*/
	color: #1E88C7;/*字体颜色*/	
	text-align: center;	

}
.uploadify:hover .uploadify-button {
	background: #AADFFD;
	border-color: #78C3F3;
    color: #004974;
    text-decoration: none;
}
.uploadify-button.disabled {
	background-color: #27a9e3;
	color: #188bbe;
}
.uploadify-queue {
	margin-bottom: 1em;
}
.uploadify-queue-item {
	background-color: #F5F5F5;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	font: 11px Verdana, Geneva, sans-serif;
	margin-top: 5px;
	max-width: 350px;
	padding: 10px;
}
.uploadify-error {
	background-color: #FDE5DD !important;
}
.uploadify-queue-item .cancel a {
	background: url('uploadify-cancel.png') 0 0 no-repeat;
	float: right;
	height:	16px;
	text-indent: -9999px;
	width: 16px;
}
.uploadify-queue-item.completed {
	background-color: #E5E5E5;
}
.uploadify-progress {
	background-color: #E5E5E5;
	margin-top: 10px;
	width: 100%;
}
.uploadify-progress-bar {
	background-color: #0099FF;
	height: 3px;
	width: 1px;
}